.iframe {
  border-radius: 20px;
  /* Optional: Um Überlauf zu verhindern */
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150%;
  height: 600;
  margin-bottom: 32px; 
}