.iframe {
  border-radius: 20px;
  overflow: hidden;
  display: block;
  margin-left: -100px;
  margin-right: auto;
  width: 150%;
  height: 500px;
  margin-bottom: 32px; 
}


.iframe2 {
  margin-left: -100px;
  margin-right: auto;
  margin-bottom: 32px; 
  width: 1366px;
  height: 768px; 
  background: transparent;
}